body{
    background-color: black;
    color: white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    font-size: 16px;
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 12px;
    }
}

#title{
    font-family: poppinsregular;
    font-size: 20px;
}

li{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    font-family: poppinsmedium;
    font-size: 20px;
}